<main>
    <div class="container">
        <div class="three columns">
            <aside>
                <img src="./assets/animals/lambchop.png" alt="test image" class="imgTest">
            </aside>
        </div>
        
        <div class="nine columns">
            <div class="twelve columns">
            <h1>{{animal.type}}</h1>
            <p>Name: {{animal.name}}</p>
            <p>Breed: {{animal.breed}}</p>
            <p>Food (Organic): ${{animal.organic}} </p>
            <p>Food (Manufactured): ${{animal.manufactured}}</p>
            <button class="button">Delete Animal</button>
            </div>
        </div>
    </div>
</main>