   <div class="container withGutter">
            <div class="three columns">
                    <img src="/assets/animals/lambchop.png" alt="test image" id="animalPic">
            </div>
            
            <div id="animalInfo" class="nine columns">
                <div>
                <h1>{{cleanAnimal.type}}</h1>
                    <ul>
                        <li><strong>Name:</strong> <span id="nameInfo" data-animalID="{{cleanAnimal.id}}">{{cleanAnimal.name}}</span></li>
                        <li><strong>Breed:</strong> <span id="breedInfo">{{cleanAnimal.breed}}</span></li>
                        <li><strong>Food(Organic):</strong> <span id="orgFood">${{cleanAnimal.food_manufactured}}</span></li>
                        <li><strong>Food(Manufactured):</strong> <span id="manFood">${{cleanAnimal.food_organic}}</span></li>
                    </ul>
                </div>
                <div id="animalActions">
                    <button id="editAnimalBtn" class="button-primary">Edit Animal</button>
                    <button id="delAnimalBtn" class="button">Delete Animal</button>
                </div>
            </div>
        </div>

<div class="modal" id="editModal">
    <div class="modal-content">
        <span class="close" id="editModalClose">&times;</span>
            <div class="edit-area">
            <h2>Create account</h2>
            <form id="edit-form">
                <label for="edit-type">Animal Type (Required)</label>
                <input id="edit-type" class="form-input u-full-width" type="text" placeholder="Animal Type" value="{{cleanAnimal.type}}" required="true">

                <label for="edit-name">Animal Name (Optional)</label>
                <input id="edit-name" class="form-input u-full-width" type="text" placeholder="Animal Name" value="{{cleanAnimal.name}}">

                <label for="edit-breed">Animal Breed (Optional)</label>
                <input id="edit-breed" class="form-input u-full-width" type="text" placeholder="Animal Breed" value="{{cleanAnimal.breed}}">
                
                <label for="edit-product">Animal Product (Optional)</label>
                <input id="edit-product" class="form-input u-full-width" type="text" placeholder="Animal Product" value="{{cleanAnimal.output}}">

                <label for="edit-organic-cost">Organic Cost (Required)</label>
                <input id="edit-organic-cost" class="form-input u-full-width" type="number" placeholder="$$$" value="{{cleanAnimal.food_organic}}" required="true">

                <label for="edit-manufactured-cost">Manufactured Cost (Required)</label>
                <input id="edit-manufactured-cost" class="form-input u-full-width" type="number" placeholder="$$$" value="{{cleanAnimal.food_manufactured}}" required="true">

                <button class="button-primary modalBtn" id="editSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="deleteModal">
    <div class="modal-content">
        <span class="close" id="deleteModalClose">&times;</span>
            <div class="delete-area">
            <h2>Delete Animal?</h2>
            <form id="delete-form">
                <p>Are you Sure? This cannot be undone</p>
                <div class="inlineList">
                    <button class="button-secondary modalBtn" id="deleteDenyBtn">Cancel</button>
                    <button class="button-primary modalBtn" id="deleteConfBtn">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/updateModals.js"></script>
