  <div class="container withGutter">
        <aside class="three columns">
            {{#if user.farms}}
            <ul>
                {{#with user}}
                    {{#each farms}}
                    <li>
                        {{!-- Included for future functionality --}}
                        {{!-- <a href="/farms/{{this.id}}">{{this.name}}</a> --}}
                        <a href="#">{{this.name}}</a>
                    </li>
                    {{/each}}
                {{/with}}
            </ul>
            {{else}}
            {{!-- <button class="button" id="addFarmBtn">Add New Farm</button> --}}
            {{/if}}
        </aside>

        {{#if user.farms}}
        <div class="nine columns">
        <div class="twelve columns" id="farmInfo">
            {{#with user}}
                <h1 data-farm_id="{{farms.[0].[id]}}">{{farms.[0].[name]}}</h1>
                <p>{{farms.[0].[description]}}</p>
            {{/with}}
        </div>

        <div class="twelve columns" id="chartContainer">
            <canvas id="notAnimal" aria-label="Budget chart for each animal" role="figure"></canvas>
        </div>
        <div id="animalHeader" class="twelve columns">
            <h2>Animals</h2><button id="addAnimalBtn" class="button-primary">Add animal</button>
        </div>
        <div class="twelve columns" id="animalContainer">
            {{#with user}}
                {{#each farms}}
                    {{#each animals}}
                        {{>animalcard}}
                    {{/each}}
                {{/each}}
            {{/with}}
        </div>
        </div>
        {{/if}}

    <div class="modal" id="farmModal">
        <div class="modal-content">
            {{!-- <span class="close" id="farmClose">&times;</span> --}}
            <div class="farm-grab">
                <h2>Enter Farm Info</h2>
                <form id="farm-form">
                    <label for="farm-name">Farm Name</label>
                    <input id="farm-name" class="form-input u-full-width" type="text" placeholder="Farm Name" required="true">
                    <p id="farmNameStatus" class="hide">Farm Name must be 3 characters or longer</p>
                    <label for="farm-description">Description of Farm</label>
                    <textarea name="farm-description" id="farm-description" cols="45" placeholder="Farm Description" required="true"></textarea>
                    <p id="farmCreateStatus" class="hide">Farm Description must be 3 characters or longer</p>
                    <button class="button-primary modalBtn" id="farmSubmit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="animalModal">
    <div class="modal-content">
        <span class="close" id="animalClose">&times;</span>
            <div class="animal-area">
            <h2>Enter Animal Info</h2>
            <form id="animal-form">
                <label for="animal-type">Animal Type (Required)</label>
                <input id="animal-type" class="form-input u-full-width" type="text" placeholder="Animal Type" required="true">

                <label for="animal-name">Animal Name (Optional)</label>
                <input id="animal-name" class="form-input u-full-width" type="text" placeholder="Animal Name" >

                <label for="animal-breed">Animal Breed (Optional)</label>
                <input id="animal-breed" class="form-input u-full-width" type="text" placeholder="Animal Breed">
                
                <label for="animal-product">Animal Product (Optional)</label>
                <input id="animal-product" class="form-input u-full-width" type="text" placeholder="Animal Product">

                <label for="organic-cost">Organic Cost (Required)</label>
                <input id="organic-cost" class="form-input u-full-width" type="number" placeholder="$$$" required="true">

                <label for="manufactured-cost">Manufactured Cost (Required)</label>
                <input id="manufactured-cost" class="form-input u-full-width" type="number" placeholder="$$$" required="true">

                <button class="button-primary modalBtn" id="animalSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>
{{#if animals}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>    
    var chartData = {{{animals}}}  
</script>
<script src="/js/chart.js"></script>
{{/if}}

<script src="/js/farmModal.js"></script>
 {{#if user.farms}}
 <script src="/js/addAnimal.js"></script>
 {{else}}
 <script src="/js/addFarm.js"></script>
 {{/if}}